:root {
  --Background: #D8EEFE;
  --biru-tua: #094067;
  --abu-abu: #5f6c7b;
  --white: #FFFFFE;
  --biru-muda: #3da9fc;
}

*{
  padding: 0;
  margin: 0;
}


body{
  background-color: var(--Background) ;
  height: 100vh;
  
}

.ellipse-23 {
  
height: 900px;
left: 320px;
position: absolute;
top: -50px;
width: 1200px;
}


.inputan3 {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 160px;
  left: 60px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.inputan4 {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 235px;
  left: 60px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}

.kolom3 {
  width: 60%;
  height: 30px;
  position: absolute;
  top: 185px;
  left: 60px;

}

.kolom4 {
  width: 60%;
  height: 30px;
  position:absolute;
  top: 260px;
  left: 60px;
}

.checkbox{
  width: 2000px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 500px;
  left: 60px;
  overflow: hidden;
}

.lisensi{
  width: 2000px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  font-size: 12px;
  top: 501px;
  left: 80px;
  overflow: hidden;
}
.lisensi2{
  width: 500px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  font-size: 12px;
  top: 550px;
  left: 60px;
  overflow: hidden;
}
.memiliki{
  width: 115px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  font-size: 12px;
  top: 301px;
  left: 555px;
  overflow: hidden;
}

.img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  font-size: 12px;
  top: 600px;
  left: 565px;
  overflow: hidden;
}

.class{
  position: relative;
  color: #3da9fc;
}


.tengah{
  width: 145%;
  height: 30px;
  }
.bawah{
  width: 145%;
  height: 30px;
  }

  .button {
      border: none;
      color: white;
      font-size: 12px;
      margin: 4px 2px;
      cursor: pointer;
      background-color: #3da9fc;
      width: 150px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: absolute;
      top: 390px;
      left: 55px;
      overflow: hidden;
      border-radius: 5px;  
      box-shadow: 1px 2px 5px black;      
    }

.footer {
  position: absolute;
  top: 51vh;
  left: 2vh;
  font-size: 1;
}

.background{
  background-color: white;
  height: 110vh;
  width: 50%;
  position: absolute;
  left: 15%;
  opacity: 90%;
}

.bg {
  background-color: white;
}

.welcome{
  text-align: center;
  color: #3da9fc;
}

.input {
  text-align: center;
  
}


.done .foter{
  
  position: absolute;
  text-align: center;
  top: 45%;
  width: 100%;
}
.done1{
  
  position: absolute;
  text-align: center;
  top: 45%;
  width: 100%;
}

.sign{
  text-align: center;
  top: 50px;
  margin-top: 10vh;
}

.bot {
  position: absolute;
}

.mid {
  text-align: center;
}

